:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

stl-model-viewer {
  width: 100%;
  height: 500px;
  display: block;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  gap: 1em;
}

.drop-area {
  width: 100%;
  height: 400px;
  border-radius: 2em;
  border: dashed 2px gray;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  & > * {
    text-align: center;
    margin: auto;
    flex: 1;
    object-fit: contain;
  }
}
