stl-model-viewer {
  width: 100%;
  height: 500px;
  display: block;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  gap: 1em;
}

.drop-area {
  width: 100%;
  height: 100px;
  border-radius: 2em;
  border: dashed 2px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
